/*
 * answer
*/
.row-aligner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.todo__wrapper {
  margin: 0 auto; }

.todo__input {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 10px 0; }
  .todo__input--select {
    width: 60px; }
  .todo__input--input {
    width: calc(100% - 140px);
    padding-left: 10px; }
  .todo__input--button {
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    background: #f27935;
    color: #fff;
    line-height: 40px;
    height: 40px;
    text-align: center; }

.todo__filter--wrapper {
  padding: 5px 10px;
  background: #eee; }

.todo__filter--button {
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 10px 5px 0;
  background: #fff; }
  .todo__filter--button.selected {
    background: #f27935; }

.todo__item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd; }
  .todo__item--checkbox {
    width: 40px; }
  .todo__item--sorting-button {
    width: 40px;
    background: #ddd;
    height: 50px;
    margin: 0 0 0 auto; }
  .todo__item--info span {
    display: block;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 3px; }
  .todo__item--info p {
    color: #222;
    margin-top: 10px; }
    .todo__item--info p.complete {
      text-decoration: line-through; }
